

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 343 0% 100%;
    --foreground: 343 62% 3%;
    --muted: 340 0% 88.85%;
    --muted-foreground: 0 0% 46.92%;
    --popover: 343 0% 100%;
    --popover-foreground: 343 62% 3%;
    --card: 0 0% 99%;
    --card-foreground: 340 0% 1.96%;
    --border: 340 60% 2%;
    --input: 0 0% 18.82%;
    --primary: 258 86.27% 54.31%;
    --primary-foreground: 257.91 0% 95%;
    --secondary: 140.56 73.55% 47.45%;
    --secondary-foreground: 140.56 77.18% 94.94%;
    --accent: 226.42 100% 98%;
    --accent-foreground: 258 74% 24%;
    --destructive: 5.37 86% 54%;
    --destructive-foreground: 5 100% 96%;
    --ring: 257 86% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 343 0% 2%;
    --foreground: 343 28% 98%;
    --muted: 257 0% 9%;
    --muted-foreground: 340 0.44% 35.6%;
    --popover: 343 53% 2%;
    --popover-foreground: 343 28% 99%;
    --card: 343 53% 3%;
    --card-foreground: 343 0% 99%;
    --border: 0 0% 18%;
    --input: 343 0% 18%;
    --primary: 204 70% 63%;
    --primary-foreground: 0 0% 95%;
    --secondary: 140.56 73.55% 47.45%;
    --secondary-foreground: 343 0% 100%;
    --accent: 262 100% 19.62%;
    --accent-foreground: 257 76% 81%;
    --destructive: 5.35 86.32% 54.12%;
    --destructive-foreground: 0 0% 100%;
    --ring: 257.91 86.27% 54.31%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
